<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.lookout.incontrol"
	android:versionCode="1"
	android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>  
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".InControl"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DevicesActivity"
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".ScenariosActivity"
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".SensorsActivity"
			android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".SettingsActivity"
        	android:theme="@android:style/Theme.NoTitleBar">
        	<intent-filter>
			    <category android:name="android.intent.category.ALTERNATIVE" />
			    <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
        	</intent-filter>
        </activity>
        <activity android:name=".EditModuleActivity"
        	android:theme="@android:style/Theme.NoTitleBar">
        	<intent-filter>
			    <category android:name="android.intent.category.ALTERNATIVE" />
			    <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
        	</intent-filter>
        </activity>
    </application>
</manifest> 